@media only screen and (min-width: $mediumbreak) and (max-width: $largebreak - 1) {
    
    .row {
        .col { 
            &.medium33 {
                width: 33%;
            }
        }
    }



    .videocontainer {
        height: 350px;
    }
    
    .promotionbox {
        height: $promotionboxheight * 1.2;
    }
    
    #content {
	    img.missmplogo {
	    	width: $thirdcol;
	    	margin-left: auto;
	    	margin-right: auto;
	    }
	         
        .factslogos {
            min-height: 141px;
        }
        
        .fullsizeimage  {
            .teasertext {
                margin-bottom: 20px;
            }
        }
    }
}