@font-face {
	font-family: 'merisier';
	src:url('../../fonts/fonts/merisier.eot');
	src:url('../../fonts/fonts/merisier.eot') format('embedded-opentype'),
		url('../../fonts/fonts/merisier.ttf') format('truetype'),
		url('../../fonts/fonts/merisier.woff') format('woff'),
		url('../../fonts/fonts/merisier.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


.icon {
	&:before {
		font-family: 'merisier';
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;

		/* Better Font Rendering =========== */
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}

.icon-add_big:before {
	content: "\e900";
}
.icon-orders:before {
	content: "\e901";
}
.icon-tip:before {
	content: "\e902";
}
.icon-finder:before {
	content: "\e613";
}
.icon-augment:before {
	content: "\e614";
}
.icon-edit:before {
	content: "\e606";
}
.icon-user:before {
	content: "\e600";
}
.icon-search2:before {
	content: "\e601";
}
.icon-cart2:before {
	content: "\e602";
}
.icon-contacts:before {
	content: "\e603";
}
.icon-badge_flag:before {
	content: "\e604";
}
.icon-contact:before {
	content: "\e605";
}
.icon-close:before {
	content: "\e607";
}
.icon-add:before {
	content: "\e608";
}
.icon-info:before {
	content: "\69";
}
.icon-merisier:before {
	content: "\6d";
}
.icon-merisier_icon:before {
	content: "\4d";
}
.icon-1:before {
	content: "\31";
}
.icon-2:before {
	content: "\32";
}
.icon-3:before {
	content: "\33";
}
.icon-4:before {
	content: "\34";
}
.icon-ampersand:before {
	content: "\26";
}
.icon-plus:before {
	content: "\2b";
}
.icon-search:before {
	content: "\73";
}
.icon-cart:before {
	content: "\63";
}
.icon-nav:before {
	content: "\6e";
}
.icon-share:before {
	content: "\53";
}
.icon-calendar:before {
	content: "\43";
}
.icon-home:before {
	content: "\68";
}
.icon-cube:before {
	content: "\71";
}
.icon-book:before {
	content: "\62";
}
.icon-homes:before {
	content: "\48";
}
.icon-like:before {
	content: "\6c";
}
.icon-eye:before {
	content: "\64";
}
.icon-editor_bold:before {
	content: "\42";
}
.icon-editor_fett:before {
	content: "\46";
}
.icon-circle:before {
	content: "\e60b";
}
.icon-editor_italic:before {
	content: "\49";
}
.icon-editor_kursiv:before {
	content: "\4b";
}
.icon-editor_underline:before {
	content: "\55";
}
.icon-check:before {
	content: "\76";
}
.icon-spinner:before {
	content: "\6f";
}
.icon-left:before {
	content: "\4c";
}
.icon-up:before {
	content: "\e60a";
}
.icon-down:before {
	content: "\e609";
}
.icon-right:before {
	content: "\52";
}
.icon-inv_close:before {
	content: "\78";
}
.icon-inv_edit:before {
	content: "\65";
}
.icon-facebook:before {
	content: "\74";
}
.icon-twitter:before {
	content: "\66";
}
.icon-pinterest:before {
	content: "\70";
}
.icon-googleplus:before {
	content: "\67";
}
.icon-instagram:before {
	content: "\e60c";
}
.icon-youtube:before {
	content: "\e60d";
}
.icon-linkedin:before {
	content: "\e60e";
}
.icon-xing:before {
	content: "\e60f";
}
.icon-foursquare:before {
	content: "\e610";
}
.icon-yelp:before {
	content: "\e611";
}
.icon-vimeo:before {
	content: "\e612";
}
.icon-angellist:before {
	content: "\f209";
}
